{% extends 'base.html' %}

{% block content %}
<div class="card mb-3">
  <img style="width: 200px; height: auto;" src="{{ product.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    {% if product.status == 'in stock' %}
        <p style="color: green;" class="card-text">{{ product.status }}</p>
        {% elif product.status == 'awaiting' %}
          <p style="color: blue;" class="card-text">{{ product.status }}</p>
        {% else %}
          <p style="color: red;" class="card-text">{{ product.status }}</p>
          {% endif %}
    <p class="card-text">{{ product.price }}</p>
      <a class="btn btn-warning" href="{% url 'product_update' product.id %}" role="button">Update</a>
      <a class="btn btn-danger" href="{% url 'product_delete' product.id %}" role="button">Delete</a>

  </div>
</div>
{% endblock %}